.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: #6ab432;
    color: white;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .scroll-to-top:hover {
    background-color: #5da12c;
  }
  